.bg-deco {
   background-image: linear-gradient(
      to top right,
      $lightgrey,
      $lightblue
   );   
}
 
.banner {
   background: {
      color:  $lightblue;
      position: center;
      repeat: no-repeat;
      size: cover; 
   } 
   
   &-main-img {     
      background-image: $main-image;        
      height: 420px;
   }

   &-contact-img {
      background-image: $contact-image;
      height: 620px;
      left: 15px;
   } 
}

.vertical-dash {
   position: absolute;
   top: 437px;
   
   > span {
      height: 2.5rem;
      position: relative;
      left: 15px;
      border-left: 3px solid $dark;
   }   
}