
$lightgrey:   #e2e8e8;
$lightblue:   #b4d3d3;
$facebook:    #3b5999;
$instagram:   #e4405f;
$pinterest:   #bd081c;
$linkedin:    #0077B5;
$messenger:   #0084ff;
$main-image:     url(../images/female_bruce_mars_Pexels-compressor.jpg);
$contact-image:  url(../images/female2_475x_Alexander_Krivitskiy_Pexels.jpg);   