{% macro input(name, value="", class, type, id, placeholder) %}
   <input 
      class="{{ class }}" 
      name="{{ name }}" 
      value="{{ value|e }}" 
      type="{{ type }}" 
      id="{{ id }}}" 
      placeholder="{{ placeholder }}" 
      required
   >
{% endmacro %}

{% macro textarea(name="textarea", value="", class, type="textarea", id, placeholder) %}
   <textarea                               
      class="{{ class }}"
      name="{{ name }}"
      value="{{ value|e }}"
      type="{{ type }}" 
      placeholder="{{ placeholder }}"  
      id="{{ id }}"                                                        
      required
   ></textarea>
{% endmacro %}

{% macro label(id, class, text) %}
   <label for="{{ id }}" class="{{ class }}">{{ text }}</label>
{% endmacro %}

{% macro checklabel(id, class) %}
   <label for="{{ id }}" class="{{ class }}">
      Agree to <a href="#">terms and conditions</a> before submitting.
   </label>
{% endmacro %}