<header class="container fixed-top">
   <div class="row">
      <nav class="nav col-8">
         <a class="nav-item nav-link active" href="/">Home</a>
         <a class="nav-item nav-link" href="about.html">About</a>
         <a class="nav-item nav-link" href="contacts.html">Contacts</a>
      </nav>

      <nav class="nav-item col-4 pr-0 dropdown text-right">
         <a
         class="nav-link dropdown-toggle active"
         href="#"
         data-toggle="dropdown"
         aria-haspopup="true"
         aria-expanded="false"
         >English
      </a>
         <div
         class="dropdown-menu dropdown-menu-right"
         aria-labelledby="dropdownMenuLink"
      >
            <a class="dropdown-item sr-only" href="#">English</a>
            <a class="dropdown-item" href="#">Language</a>
         </div>
      </nav>
   </div>
</header>