<div 
class="modal fade" 
id="exampleModal" 
tabindex="-1" 
role="dialog" 
aria-labelledby="exampleModalLabel" 
aria-hidden="true"
>
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Message to Ineta</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
         </button>
         </div>
         <div class="modal-body">
            <form name="request" method="POST" data-netlify="true">
               {% import "./macros/form-macro.njk" as form %}
               <div class="form-group">
                  {{ form.label(id="exampleInputEmail1", class="col-form-label", text="Sender email:") }}
                  {{ form.input(id="exampleInputEmail1", class="form-control", name="email", type="email", placeholder="name@example.com") }}
               </div>
               <div class="form-group">
                  {{ form.label(id="message-text", class="col-form-label", text="Message:") }}
                  {{ form.textarea(id="message-text", class="form-control", placeholder="Here you can write a message to Ineta...") }}
               </div>             
               <div class="modal-footer">                              
                  <button type="submit" class="btn btn-primary">Send message</button>
               </div>
            </form>
         </div>
         <!-- modal-body -->
      </div>
   </div>
</div>